.flex-container {
    display: flex;
    background-color: rgb(241, 171, 40);
}

.item {
    background-color: #e63939;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}